.searchBar {
  background-color: #ffffff;
  padding: 24px 24px 0 24px;
  margin-bottom: 16px;
  :global {
    .ant-form-item {
      display: flex;
    }
    .ant-form-item-label {
      flex: unset !important;
    }
    .ant-form-item-control {
      flex: 1 !important;
    }
    .ant-form-item-label > label::after {
      display: unset;
    }
  }
  .optionsWrap {
    display: flex;
    margin-bottom: 24px;
    justify-content: flex-end;
    :global(.ant-btn) {
      margin-left: 8px;
    }
  }
}
.tableWrap {
  padding: 24px;
  background-color: #ffffff;
  .btnWrap {
    margin-bottom: 16px;
    :global(.ant-btn) {
      margin-left: 8px;
    }
  }
  :global {
    .ds-btn {
      margin-left: 8px;
    }
    .ant-image,
    .ant-image-img {
      width: auto;
      max-width: 80px;
      max-height: 60px;
    }
    .ant-btn-link {
      padding: 4px;
    }
  }
}